.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  padding: 50px;
}
.date-selector {
  padding: 10px;
}
.forecast-table {
  display: flex;
  align-content: center;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  padding: 50px;
}
.forecast-tb {
  border: solid 0.5px rgb(209, 209, 209);
  text-align: center;
  width: 75px;
  word-wrap: break-word;
  border-radius: 5px;
}
.forecast-image {
  padding: 5% 25%;
  width: 40px;
}
.red {
  display: flex;
  font-size: large;
  font-weight: bolder;
  padding: 5% 25%;
  background-color: rgb(251, 117, 117);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.blue {
  display: flex;
  font-size: large;
  font-weight: bolder;
  padding: 5% 25%;
  background-color: rgba(132, 157, 244, 0.937);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
